%% Shared preamble: colors and fonts from theme/theme.yaml. Compile with XeLaTeX.

\usepackage{enumitem}
\usepackage{xcolor}
\usepackage{hyperref}
\usepackage{fontspec}
\usepackage{xparse}

%% Colors (from theme/theme.yaml)
\VAR{color_defs}

%% Fonts (families + face suffixes from theme/theme.yaml)
\setmainfont{\VAR{font_text}}[
    Path=\VAR{fonts_path}/,
    Extension=.ttf,
    UprightFont=*-\VAR{face_text_upright},
    BoldFont=*-\VAR{face_text_bold},
    ItalicFont=*-\VAR{face_text_italic}
]
\newfontfamily\headerfont{\VAR{font_display}}[
    Path=\VAR{fonts_path}/,
    Extension=.ttf,
    UprightFont=*-\VAR{face_display_upright},
    BoldFont=*-\VAR{face_display_bold},
    LetterSpace=\VAR{display_letterspace}
]
\newfontfamily\titlefont{\VAR{font_display}}[
    Path=\VAR{fonts_path}/,
    Extension=.ttf,
    UprightFont=*-\VAR{face_display_title},
    BoldFont=*-\VAR{face_display_title_bold}
]
\newfontfamily\mediumfont{\VAR{font_text}}[
    Path=\VAR{fonts_path}/,
    Extension=.ttf,
    UprightFont=*-\VAR{face_text_medium},
    BoldFont=*-\VAR{face_text_medium_bold}
]

\hypersetup{colorlinks=true, linkcolor=ink, urlcolor=blue}
